KAFKA_BOOTSTRAP_SERVERS=localhost:9092
POSTGRES_CONNECTION=Host=localhost;Port=5432;Database=finflow;Username=finflow;Password=finflow123
SIGNALR_CORS_ORIGIN=http://localhost:3000
KAFKA_TOPIC_TRANSACTION_CREATED=transaction.created
KAFKA_TOPIC_PAYMENT_PROCESSED=payment.processed
KAFKA_CONSUMER_GROUP_PAYMENT=payment-service-group
KAFKA_CONSUMER_GROUP_NOTIFICATION=notification-service-group
